{% extends "base.html" %}
  {%block body%}
  <div class="container mt-4 mb-3 pb-1">
    <div class="row">
      <div class="col-12 col-md">
        <div class="h-100 w-md-11/12 w-xl-10/12 max-width-xnarrow">
          <div class="h-100 d-flex flex-column justify-content-between">
            <div>
              <font color=#7ABFC4><h1 class="balance-text font-sans-serif mb-0.75">About :</h1></font> 
              <br/>               
              <div class="post-excerpt">
                <font color=#b8e0e3><p>
                  Welcome to our Price Tracking web application, designed to help you save money on your online e-commerce purchases. Our platform allows you to effortlessly monitor product prices and receive email notifications when the price drops.<br>

                    Currently, we support popular e-commerce websites such as Amazon, Flipkart, Myntra, and Boat, ensuring you have access to a wide range of products across multiple platforms.
                    <br>
                    To get started, simply input the desired product link and your email address. Our system will store this information along with the product title and its current price in our database.
                    <br><br>
                    Our background listener script runs every hour, comparing the current price of the product with the saved price. If the current price is lower, our bot will automatically send you an email with the necessary details. We have also scheduled this script using cronjob to ensure timely notifications.
                  <br>
                  <br>
                  To install and use our application, clone the project from our GitHub repository, install the dependencies, and set up the required environment variables. Instructions for these steps are available in our documentation.
                <br/>
                <br/>
                Start saving money today with our Price Tracking web application. 
                <br>
                Visit our website now at <a href = https://budgetbossapp.azurewebsites.net>https://budgetbossapp.azurewebsites.net//</a> or check out the source code on GitHub at <a href = https://github.com/adhirajpandey/Budget-Boss>https://github.com/adhirajpandey/Budget-Boss</a>.
                <br/>
                <br/>
                <h5>Features to be added in Future:</h5>
                <ol>
                  <li>Flipkart and Myntra Addon - Done</li>
                  <li>Best Deals Section - Done</li>
                  <li>Discord Bot Integration</li>
                </ol>
                </p></font>

              
          </div>
        </div>
      </div>
        
  </div>
   
  {%endblock%}