{% extends "base.html" %}

{% block body %}
<br/>
<br/>
<div class="deal-container">
  {% for product in products %}
  <div class="deal">
    <p>{{product['product_website']}}</p>
    <img src="{{product['product_image']}}" alt="{{ product['product_name'] }}">
    <h2 class="product-name">{{ product['product_name'] }}</h2>
    <h2>Price: ₹{{ product['product_price'] }}</h2>
    <h2>Link: <a href="{{ product['product_link'] }}" class="product-link">{{ product['product_link'] }}</a></h2>
  </div>   
  {% endfor %}
</div>

{% endblock %}