{% extends "base.html" %}
  {%block body%}
    <div class="tracker-body">
        <div class="sub-container2">
            <form method = "POST">
            <div class="sub-box2">
                <i class="fa fa-link" aria-hidden="true"></i>
                <input type="url" name="plink" required placeholder="Link">
            </div>
            <br/>
            <div class="sub-box3">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="email" name="uemail" required placeholder="Email">
            </div>
            <br/>
            <center><input type="submit" value="Submit" class="btn-primary"></center>
            </form>
        </div>
    </div>
    <br/>
    <br>
    <font color=#b8e0e3><p class="text-center"> Supported Websites: <img src="static/images/amazon.png" alt="Amazon" width="40px" height="40px">&nbsp;<img src="static/images/flipkart.png" alt="Flipkart" width="35px" height="35px">&nbsp;<img src="static/images/myntra.png" alt="Myntra" width="50px" height="35px">&nbsp;<img src="static/images/boat.png" alt="Boat" width="40px" height="40px"></p></font>
  {% endblock %}